html {
    background-color: #FCFCFC;
    font-family: 'IM Fell French Canon', serif;
}
article {
    max-width: 900px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
article h1 {
    font-family: 'Almendra Display', sans-serif;
    text-shadow: 0px 2px 0px grey;
    font-weight: bold;
    font-size: 3.4em;
}
article p {
    line-height: 1.4;
    text-indent: 2em;
    font-size: 1em;
    color: #111;
}
footer {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: .9em;
    color: #444;
    text-align: right;
    margin-top: 10px;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
    text-decoration: underline;
    color: black;
}
