html {
    background-color: rgb(141, 204, 204);
    font-family: 'IM Fell French Canon', serif;
}
/**
 @main page
**/
nav ul {
    text-align: center;
    text-transform: lowercase;
    letter-spacing: .3em;
    font-size: 2em
}
nav ul a {
    text-decoration: none;
    color: black;
}
nav ul a:visited {
    color: rgb(109, 54, 54);
    text-decoration: none;
}
nav ul a:hover,  nav ul a:active {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    text-shadow: 0px 0px 2px black;
    color: black;
}
article {
    max-width: 900px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
article h1 {
    font-family: 'Almendra Display', sans-serif;
    font-weight: bold;
    font-size: 3.4em;
}
article p {
    line-height: 1.5;
    text-indent: 2em;
    font-size: 1em;
    color: #111;
}
footer {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: .9em;
    color: #444;
    text-align: center;
    margin-top: 50px;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
    text-decoration: underline;
    color: black;
}
