html {
    background-color: rgb(141, 204, 204);
    font-family: 'IM Fell French Canon', serif;
}
small {
    font-size: .9em;
}
em {
    font-style: italic;
}
/**
 @main page
**/
nav ul {
    margin: 0;
    margin-top: 2%;
    text-align: center;
}
nav ul li.heading {
    font-weight: bold;
    margin-top: 5%;
    font-size: 1em;
}
nav ul li a {
    text-transform: lowercase;
    letter-spacing: .3em;
    font-size: 2em;
    text-decoration: none;
    color: black;
}
nav ul li a:link {
    color: black;
    text-decoration: none;
}
nav ul li a:visited {
    color: rgb(109, 54, 54);
    text-decoration: none;
}
nav ul li a:hover,  nav ul li a:active {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    text-shadow: 0px 0px 2px black;
    color: black;
}
/***
@articles
***/
article {
    max-width: 900px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
article header {
    display: block;
    margin-bottom: 5%;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.67);
    padding: 2%;
}
article h1 {
    font-family: 'Carrois Gothic SC', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 3.4em;
}
article p {
    line-height: 1.5;
    text-indent: 2em;
    font-size: 1.2em;
    color: black;
    background-color: rgba(255, 255, 255, 0.67);
    padding-left: 3%;
    padding-right: 3%;
}
article p:first-of-type {
    padding-top: 3%;
}
article p:last-of-type {
    padding-bottom: 3%;
}
ul, ol {
    margin-left: 10%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
ol {
    list-style-type: decimal;
}
ol.custom {
    list-style-type: none;
}
footer {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: .9em;
    color: #444;
    text-align: center;
    margin-top: 50px;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
    text-decoration: underline;
    color: black;
}
/**************
@transcriptions
***************/
.transcription, .transcription header, .transcription h1, .transcription h2, .transcription p {
    font-family: 'Courier', 'Courier New', monospace;
    background-color: #EEE;
}
.transcription p {
    background-color: inherit;
}
.transcription aside {
    font-family: 'Carrois Gothic SC','Helvetica','Arial',sans-serif;
}
.transcription ul {
    list-style-type: circle;
}
.transcription table {
    width: 100%;
}
.transcription table td, .transcription table th {
    border: solid black 1px;
    padding: .3em;
}
.transcription table th {
    font-weight: bold;
}
.transcription small {
    padding-left: 3%;
    padding-right: 3%;
}
.transcription section:not(:last-child) {
    border-bottom: rgba(220,220,220,1) solid 4px;
    margin-bottom: 1em;
}

/** iPhone < 5 **/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html {
        font-size: 28px;
    }
    article {
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    article p {
        text-align: justify;
    }
}
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote.poem {
  background-color: rgba(255,255,255,0.67);
}
blockquote.poem cite {
  display: block;
  text-align: right;
}
blockquote.poem pre {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.8em;
}
